@import url('https://fonts.googleapis.com/css?family=Roboto');

body { margin: 0; padding: 0; font-family: 'Roboto' }

:root {
  --primary-color: #EE2A64;
  --secondary-color: #2C8F92;
  --tertiary-color: #2A3890;
}

#container {
  display: grid;

  grid-template-rows: repeat(5, auto);
  grid-template-columns: 100%;
}

.row {
  height: 100vh;
  border-bottom: 4px solid #FFF;
  background: linear-gradient(-30DEG, var(--secondary-color), var(--tertiary-color));
  color: #FFF;
  position: relative;
}

.row:last-of-type {
  background: rgba(0, 0, 0, .7);
  height: 80px;
}

.header > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.register  {
  height: auto;
}
.register > div {
  margin-bottom: 15px;
}
.scroll-down-ico,
.scroll-up-ico,
.scroll-top-ico {
  font-size: 3em;
  position: absolute;
  z-index: 1;
}
.scroll-down-ico {
  bottom: 10px;
  right: 10px;
}
.scroll-up-ico {
  top: 10px;
  right: 10px;
}
.scroll-top-ico {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-min-content;
  color: var(--primary-color);
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.scroll-up-ico:hover, .scroll-down-ico:hover, .scroll-top-ico:hover {
  cursor: pointer;
}

h2 {
  margin-top: 20px;
}

#more-info {
  height: auto;

}

#accordion {
  margin-bottom: 20px;
  color: black;
}

.footer {
  border-bottom: none;

  display: grid;

  grid-template-columns: 20% auto 20%;
  grid-template-rows: 25px 45px auto;
}

#facebook, #github, #twitter, #medium {
  align-items: center;
  justify-self: center;
}

#social-media-container {
  padding: 0;
  display: grid;

  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;

  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  align-items: center;
  justify-self: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}
